button {
  border: none;
  border-radius: 5px;
  background-color: #2e77f4;
  color: white;
  padding: 12px 16px;
  margin: 10px auto;
  font-size: 22px;
  display: flexbox;
  outline: none;
  transition-duration: 0.2s;
  box-shadow: 0.5px 1.5px 5px #131923;
}

button:hover {
  filter: brightness(120%);
  box-shadow: 1px 3px 10px #131923;
}
